name: Run Tests

on:
  [push, pull_request]
  
jobs:
  debug:
    name: Debug
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up secret file
      env:
        DEBUG_HIDDEN_URL: ${{ secrets.HIDDEN_URL }}
      run: |
        echo $DEBUG_HIDDEN_URL >> secrets.txt
    - name: Run tmate
      uses: mxschmitt/action-tmate@v2
